@import "styles/shared.scss";
@import "components/game-info/game-info.shared.scss";

.health {
  @extend .boxBackground;
  left: 11px;
  bottom: 11px;

  & > span {
    font-size: large;
    margin-left: 4px;
    display: inline-block;
    transform: rotateZ(-90deg);

    &.alive {
      color: $yellow;
    }

    &.dead {
      color: $transparent-black-03;
    }
  }
}
