body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: black;
}

#gameBoard {
  height: 100vh;
  width: min(100vw, 800px);
  overflow: hidden;
  background-image: url("./assets/ocean.jpg");
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover;
}

.movingBackground {
  animation-name: MOVE_BG;
  animation-duration: 300s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#plane {
  width: 100px;
  position: absolute;
  left: 50%;
  bottom: 20%;
}

.score {
  font-size: x-large;
  font-family: "Courier New", Courier, monospace;
  color: yellow;
}

.fire {
  width: 5px;
  height: 15px;
  position: absolute;
  background: radial-gradient(circle, yellow, black);
  border-radius: 50%;
}

@keyframes MOVE_BG {
  from {
    background-position: center center;
  }
  to {
    background-position: center 2376px;
  }
}
