body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-image: url("./assets/ocean.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

#plane {
  width: 100px;
  position: absolute;
  left: 50%;
  bottom: 20%;
}
